.Recorder{
    margin-left: calc(50% - 300px/2 + 0.5px);
    width: 300px;
    height: 200px;
}

.AudioBlock{
    color: red;
    background: green;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;

}

.textAttempts{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px,;
    /* identical to box height, or 114% */
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgb(226, 95, 95);
}